.image-card {
    display: flex;
    position: relative;
    min-width: 100px;
    max-width: 450px;
    flex-direction: column;
    padding: 5px 5px 5px 5px;
    width: fit-content;
    background-color: var(--message-background);

    span {
        display: flex;
        color: var(--text-primary);
        font-size: 12px;
        margin-top: -4px;
        margin-right: 4px;
        align-self: flex-end;
    }

    .image-card-content {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100px;
        min-height: 100px;

        img {
            max-height: 600px;
            max-width: 300px;
            border-radius: 10px;
        }

        label {
            content: '';
            position: absolute;
            top: 0;
            width: 12px;
            height: 12px;
            background: linear-gradient(135deg, var(--message-background) 0%, var(--message-background) 50%, transparent 50%, transparent);
        }
    }

    .time {
        display: flex;
        position: absolute;
        bottom: 8px;
        right: 3px;
        pointer-events: none;

        svg {
            position: relative;
            margin-left: 6px;
        }
    }

    svg {
        display: flex;
        position: absolute;
        right: 8px;
        color: rgba($color: white, $alpha: 0.6);
    }

    .image-card-dropbutton {
        display: none;
        position: absolute;
        top: 15px;
        right: 6px;
        border: 0;
        padding: 0;
        background-color: transparent;

        .downArrow {
            height: 18px;
            width: 18px; 
        }
    }
}

.image-card:hover {
    cursor: pointer;
    .image-card-dropbutton {
        display: flex;
        animation: foward .3s;
        cursor: pointer;
    }
}

@keyframes foward {
    0% {
        transform: translateX(3px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}