.checkbox-holder {
  input[type="checkbox"] {
      position: relative;
      appearance: none;
      background-color: #fff;
      margin: 0;
      color: currentColor;
      width: 1em;
      height: 1em;
      border-radius: 0.15em;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-self: center;
  }
    
  input[type="checkbox"]::before, input[type="checkbox"]::after {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: var(--background-confirmButton-modal);
  }

  input[type="checkbox"]::after {
    content: "";
    position: absolute;
    top: 15%;
    width: 0.75em;
    height: 0.75em;
    background-color: black;
    clip-path: polygon(12% 49%, 38% 69%, 87% 10%, 100% 21%, 40% 94%, 1% 63%);
  }
  
  input[type="checkbox"]:checked::before, input[type="checkbox"]:checked::after{
    transform: scale(1);
  }
}