.sidebarLeft {
    display: flex;
    position: absolute;
    flex-direction: column;
    height: 100%;
    width: 400px;
    left: 0;
    background-color: var(--background-left);
    font-size: 14px;
    transition: .7s ease; 
    z-index: 2;
    
    .up {
        display: flex;
        align-items: center;
        column-gap: 30px;
        height: 100px;
        padding: 60px 0 25px 20px;
        background-color: var(--background-right);       

        button {
            padding: 0;
            border: 0;
            margin-top: 4px;
            background-color: transparent;
            cursor: pointer;

            svg {
                fill: var(--text-primary);
                opacity: 0.9;
                height: 20px;
                width: 20px;
            }
        }

        span {
            font-size: 19px;
            font-weight: 600;
            color: var(--text-primary);
            opacity: 0.9;
        }
    }

    .sidebarLeft-Content {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding-bottom: 30px;
    }
}