.sidebarLeft {
    display: flex;
    position: absolute;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    left: 0;
    background-color: var(--background-left);
    font-size: 14px;
    
    .up {
        display: flex;
        align-items: center;
        column-gap: 30px;
        height: 100px;
        padding: 60px 0 25px 20px;
        background-color: var(--background-right);

        button {
            padding: 0;
            border: 0;
            margin-top: 4px;
            background-color: transparent;
            cursor: pointer;

            svg {
                fill: var(--text-primary);
                opacity: 0.9;
                height: 20px;
                width: 20px;
            }
        }

        span {
            font-size: 19px;
            font-weight: 600;
            color: var(--text-primary);
            opacity: 0.9;
        }
    }

    .sidebarLeft-Content {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding-bottom: 30px;
    }
}

@media (min-width: 881px) {
    .sidebarLeft {
        width: 400px;
        .sidebarLeft-Content, .up {
            min-width: 390px;
        }
    }
}

@media (max-width: 880px) {
    .sidebarLeft {
        width: 350px;
        .sidebarLeft-Content, .up  {
            min-width: 340px;
        }
    }
}

@media (max-width: 800px) {
    .sidebarLeft {
        width: 300px;
        .sidebarLeft-Content, .up  {
            min-width: 290px;
        }
    }
}

@media (max-width: 750px) {
    .sidebarLeft {
        width: 250px;
        .sidebarLeft-Content, .up  {
            min-width: 240px;
        }
    }
}

@media (max-width: 630px) {
    .sidebarLeft {
        width: 100%;
    }
}
