.send-contact-modal {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 525px;
    background-color: var(--background-right);
    overflow: hidden;

    .header {
        display: flex;
        align-items: center;
        padding: 20px 20px 20px 25px;
        column-gap: 23px;

        button {
            cursor: pointer;
            svg {
                width: 25px;
                height: 25px;
                color: var(--icon-fixed);
            }
        }

        h1 {
            font-size: 19px;
            font-weight: 600;
            color: var(--text-primary);
            padding-bottom: 2px;
        }
    }

    .mid {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-top: 10px;
        background-color: var(--background-left);

        .searchbar-holder {
            padding: 10px 12px 0 12px;
        }

        .contact {
            color: var(--down-border);
            font-size: 16px;
            padding: 30px 0 18px 20px;
        }

        .contacts-map {
            display: flex;
            flex-direction: column;
            overflow-y: auto;

            .contact-card-modal {
                display: flex;
                align-items: center;
                column-gap: 20px;
                padding-left: 25px;

                &:hover {
                    cursor: pointer;
                    background-color: var(--card-hover);
                }

                img {
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                }

                .text-holder {
                    text-align: start;
                    width: 100%;
                    padding: 14px 0;
                    border-top: 1px solid var(--border);
                    p {
                        font-size: 17px;
                        font-weight: 600;
                        color: var(--text-primary);
                    }

                    span {
                        color: var(--text-secondary);
                    }

                    p, span {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        width: 100%;
                        display: block;
                        overflow: hidden;
                    }
                }

            }
        }
    }

    .bottom {
        display: flex;
        position: relative;
        align-items: center;
        transition: .2s ease;
        padding: 0 12px;

        .contact-name-map {
            display: flex;
            overflow: hidden;
            column-gap: 5px;
        }

        p {
            font-size: 16px;
            font-weight: 500;
            color: var(--text-primary);
        }

        .send-button {
            position: absolute;
            top: -30px;
            right: 35px;
            padding: 16px;
            border-radius: 50%;
            background-color: var(--rep-primary);
            transition: .2s ease-in-out;

            &:hover {
                transform: scale(1.15);
                cursor: pointer;
            }

            svg {
                width: 25px;
                height: 25px;
                fill: white
            }
        }
    }
}