
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif; 
}

#page {
  display: flex;
  height: 100vh;
  background-color: var(--background-right);
  overflow: hidden;

  .left-column {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    background-color: var(--background-left);

    .left-up {
      display: flex;
      height: fit-content;
      align-items: center;
      justify-content: space-between;
      padding: 17px 5px 12px 5px;
      background-color: var(--background-right);

      .up-icon-holder {
        display: flex;
        column-gap: 15px;

        button {
          display: flex;
          border: 0;
          padding: 5px;
          margin: 0 5px;
          background-color: transparent;

          svg {
            color: var(--icon-fixed);
            width: 25px;
            height: 25px;
            padding: 1px;
            opacity: 0.6;
            cursor: pointer;
          }
        }

        #leftDropdown-button {
          transition: .3s ease;
        }

        .leftDropdown-holder {
          display: flex;
          flex-direction: column;
          position: relative;

          @media (max-width: 750px) {
            button {
              padding: 6px;
              margin: 0 6px;
            }
          }
        }  
      }

      button {
        padding: 0;
        border-radius: 50%;
        margin: 0;
        border: 0;
        background-color: transparent;

        .user-img {
          display: flex;
          width: 45px;
          height: 45px;
          margin-left: 2px;
          border-radius: 50%;
          margin-right: 2px;
          cursor: pointer;
        }
      }
    }

    .left-sub {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      height: 100%;

      .searchbar-filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 10px;
        margin-bottom: 8px;
        padding: 0 15px;

        .searchbar-holder {
          display: flex;
          flex-direction: column;
          width: 85%;
          margin: 7px 0;
          background-color: transparent;
        }

        button {
          border: 0;
          padding: 0;
          background-color: transparent;
        }

        #filterButton {
          padding: 3px;
          margin-right: 5px;
          border-radius: 50%;
          transition: .5s ease;
          border-radius: 50%;
          cursor: pointer;

          svg {
            color: var(--icon-fixed);
            width: 23px;
            height: 23px;
          }
        }
      }

      .content-holder {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 100%;

        .filter-content-holder {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;

          .filter-main {
            display: flex;
            flex-direction: column;
            margin-bottom: 120px;
            row-gap: 10px;
            padding: 0 20px;
            font-size: 16px;

            span {
              color: white;
              opacity: 0.6;
              text-align: center;
            }

            @media (max-width: 750px) {
              span {
                font-size: 14px;
              }
            }

            button {
              border: 0;
              padding: 0;
              background-color: transparent;
              color: var(--down-border);
              cursor: pointer;
            }
          }

          .filter-bottom {
            display: flex;
            bottom: 20px;
            position: absolute;
            color: white;
            font-size: 11px;
            border-top: 1px solid var(--background-right);
            margin: 0 15px;
            padding: 15px 0 0;
            column-gap: 5px;

            img {
              height: 13px;
              width: 12px;
              filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(184deg) brightness(112%) contrast(97%);
            }

            a {
              text-decoration: none;
              color: var(--link);
            }
          }
        }
      }

      @media (max-width: 880px) {
        .content-holder {
          width: 350px;
        }
      }

      @media (max-width: 800px) {
        .content-holder {
          width: 300px;
        }
      }

      @media (max-width: 750px) {
        .content-holder {
          width: 250px;
        }
      }

      @media (max-width: 630px) {
        .content-holder {
          width: 100%;
        }
      }
    }

    #inputImg-holder {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      align-self: center;
      margin-top: 30px;
      transition: 0.7s ease;

      img {
        display: flex;
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }

      input[type="file"] {
        display: none;
      }

      label {
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .sub {
      display: flex;
      flex-direction: column;
      padding: 0 10px 0 25px;
      row-gap: 30px;
      margin-top: 30px;
      span {
        color: var(--down-border);
      }

      .txt {
        color: white;
        opacity: 0.6;
        pointer-events: none;
      }

      .input-holder {
        display: flex;
        justify-content: space-between;

        button {
          padding: 0;
          border: 0;
          margin-top: 4px;
          background-color: transparent;
          cursor: pointer;
        }

        svg {
          width: 24px;
          height: 24px;
          fill: var(--icon-fixed);
        }

        .property, .property-edit {
          all: unset;
          color: white;
          caret-color: white;
          width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-size: 14px;
        }

        .property-edit {
          width: 80%;
          border-bottom: 2px solid var(--down-border);
        }
      }
    }

    .nMessage-content-holder {
      display: flex;
      flex-direction: column;

      .nMessage-seachBar-holder {
        display: flex;
        justify-content: center;
        margin: 10px 15px;
      }

      .nMessage-groupCard-holder {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        margin: 4px 0;
        padding: 10px 5px 10px 10px;
        border: 0;
        background-color: var(--background-left);
        cursor: pointer;

        .groupCard-image-holder {
          display: flex;
          justify-content: center;
          align-content: center;
          height: 55px;
          width: 55px;
          margin-right: 20px;
          border-radius: 50%;
          background-color: var(--group-img-background);

          svg {
            justify-self: center;
            align-self: center;
            fill: white;
            width: 30px;
            height: 30px;
          }
        }

        span {
          color: white;
          align-items: center;
          font-size: 16px;
        }
      }

      .nMessage-groupCard-holder:hover {
        background-color: var(--card-hover);
      }

      .nMessage-cards-map {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
        height: 100%;

        span {
          color: white;
          opacity: 0.6;

          a {
            text-decoration: none;
            color: var(--group-img-background);
          }
        }
      }
    }

    .favoriteMessage-content { // Join Group SideMenu
      display: flex;
      flex-direction: column;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 621.6px;
      color: var(--text-secondary);

      span {
        margin-top: -180px;
      }

      .favorite-endMessage {
        display: flex;
        position: absolute;
        text-align: center;
        margin-left: 3px;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        padding: 10px 5px 0 5px;
        bottom: 20px;
      }
    }

    .jGroup-searchbar-holder { // Join Group SideMenu
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 15px;
    }

      .perfilButton { // Config SideMenu
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
        width: 100%;
        height: 115px;
        column-gap: 20px;
        background-color: transparent;
        border: 0;

        &:hover {
          background-color: var(--card-hover);
          cursor: pointer;
        }

        img {
          width: 90px;
          height: 90px;
          border-radius: 50%;
        }

        .texts {
          text-align: start;
          
          h3 {
            color: var(--text-primary);
            font-size: 19px;
            font-weight: normal;
          }

          span {
            color: var(--text-secondary);
          }
        }
      }
    }
  }

  #right-column {
    display: flex;
    height: 100%;
    width: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
  }

  @media (max-width: 880px) {
    .left-column {
      width: 350px;
    }
  }

  @media (max-width: 800px) {
    .left-column {
      width: 300px;
    }
  }

  @media (max-width: 750px) {
    .left-column {
      width: 250px;
    }
  }

  @media (max-width: 630px) {
    .left-column {
      width: 100%;
    }
  }
