.contact-card {
    display: flex;
    position: relative;
    min-width: 300px;
    max-width: 450px;
    flex-direction: column;
    padding: 6px 7px 4px 9px;
    width: fit-content;
    background-color: var(--message-background);
    cursor: pointer;

    &:hover {
        .contact-card-dropbutton {
            display: flex;
            animation: foward .3s;
            cursor: pointer;
        }
    }

    span {
        display: flex;
        color: var(--text-primary);
        font-size: 12px;
        margin-top: -4px;
        margin-right: 4px;
        align-self: flex-end;
    }

    .contact-card-content {
        padding: 10px 0;

        .contact-information {
            display: flex;
            align-items: center;
            column-gap: 20px;
            margin-left: 10px;

            img {
                width: 52px;
                height: 52px;
                border-radius: 50%;
            }

            .text-holder {
                width: 100%;
                padding: 14px 0;

                p {
                    font-size: 17px;
                    font-weight: 600;
                    color: var(--text-primary);
                }

                span {
                    color: var(--text-secondary);
                }

                p, span {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    width: 100%;
                    display: block;
                    overflow: hidden;
                }
            }

        }

        label {
            content: '';
            position: absolute;
            top: 0;
            width: 12px;
            height: 12px;
            background: linear-gradient(135deg, var(--message-background) 0%, var(--message-background) 50%, transparent 50%, transparent);
        }
    }

    .time {
        display: flex;
        position: relative;
        justify-content: flex-end;
        align-self: flex-end;
        pointer-events: none;
        margin-right: 2px;

        svg {
            position: relative;
            margin-left: 6px;
        }
    }

    .contact-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px 0;
        border-top: 1px solid var(--border);
        margin-top: 5px;

        button {
            cursor: pointer;
            color: var(--contact-card-button-color);
        }
    }

    svg {
        display: flex;
        position: absolute;
        right: 8px;
        color: var(--icon-fixed);
    }

    .contact-card-dropbutton {
        display: none;
        position: absolute;
        right: 5px;
        top: 15px;
        border: 0;
        padding: 0;
        background-color: transparent;

        .downArrow {
            display: flex;
            height: 18px;
            width: 18px;
            background-color: var(--message-background);
        }
    }
}

@keyframes foward {
    0% {
        transform: translateX(3px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}