.profile-button {
    display: flex;
    flex-direction: column;
    border: 0;
    padding: 20px 10px;
    background-color: transparent;
    color: white;
    cursor: pointer;

    #button-frow {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        svg {
            width: 20px;
            height: 20px;
        }

        .button-frow-start {
            display: flex;
            align-items: center;
            align-items: flex-start;
            column-gap: 20px;

            .button-title-sub {
                display: flex;
                flex-direction: column;

                span {
                    align-self: flex-start;
                    text-align: start;
                }
            }
        }

        h1 {
            font-size: 17px;
            text-align: start;
            font-weight: normal;
            margin-top: 0px;
            margin-bottom: 3px;
        }
    }

    
}

[name="red"] {
    h1, svg {
        color: red;
        opacity: 0.7;
    }

    &:hover {
        background-color: var(--card-hover);
    }
}