:root {
  --auth-border: #ffffff50;
  --background-right: #222e35;
  --background-left: #111b21;
  --background-friend-profile: #0c1317;
  --background-card-inside: #025144;
  --background-confirmButton-modal: #00a884;
  --background-confirmButtonHover-modal: #06cf9c;
  --primary-green: #00a884;
  --bottom-searchBar: #2a3942;
  --border: rgba(255, 255, 255, 0.077);
  --card-hover: #202c33; 
  --card-focus: #2a3942;
  --date-background: #222e35;
  --down-border: #008069;
  --dropdown-background: #233138;
  --dropdown-backgrouund-hover: #182229;
  --error-text: #e65f5f;
  --group-img-background: #00a884;
  --icon-fixed: #8696a0;
  --link: #53bdeb;
  --line-divider: #8696a026;
  --message-background: #005c4b;
  --modal-background: #3b4a54;
  --modal-border-button: #8696a026;
  --modal-button-hover: #e9edef0d;
  --modal-backdrop: #0b141ad9;
  --name: #efefefd3;
  --rep-primary: #00a884;
  --rep-2: #53bdeb;
  --rep-3: #00a884;
  --text-primary: #E9EDEF;
  --text-secondary: #E9EDEF70;
  --text-confirmButton-modal: #111b21;
  --text-cancelButton-modal: #00a884;
}

body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-left); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--card-focus); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--down-border); 
}
